# Flask e extensões
Flask
flask-cors
Flask-SQLAlchemy
Werkzeug
Flask-Migrate==4.0.7
Flask-Caching

# Banco de dados
SQLAlchemy
greenlet

# Requisições HTTP
requests
urllib3

# Processamento de dados
numpy
pandas

# Geoprocessamento
pyogrio
pyproj
geopandas==1.0.1

# Utilitários
python-dateutil
pytz
tzdata

# Validação e formatação
click
Jinja2
MarkupSafe

# Segurança e certificados
certifi
charset-normalizer
idna

# Outros
blinker
itsdangerous
packaging
six
typing_extensions

# Desenvolvimento (opcional)
python-dotenv
gunicorn==22.0.0
